{% extends "layout.html" %}
{% block searchform %}

<form class="form-inline" method="POST">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Enter IP Address" name="search_ip" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>

{% endblock searchform %}


{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/cardflip.css' %}" />
<script src="{% static 'js/cardflip.js' %}"></script>

<div class="flip-container" ontouchstart="this..classList.toggle('hover');">
    <div class="flipper">

        <div class="front">
            <img src="{% static 'imgs/cardfront.png' %}" />
        </div>

        <div class="back">
            <img src="{% static 'imgs/cardback.png' %}" />
        </div>

    </div>
</div>

{% endblock content %}