{% extends "layout.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/thx.css' %}" />

<div class="container">

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> if you slected to CC yourself.</p>
    <p class="lead">We will get back to you soon.</p>
    <hr>
    <p>

    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url 'home' %}" role="button">Continue to homepage</a>
    </p>
</div>

</div>

{% endblock content %}