{% extends "main/layout.html" %}

{% block searchform %}
<form class="form-inline" method="GET" action="{% url 'search' %}">
    <input class="form-control mr-sm-2" type="search" value="{{request.GET.popcorntime}}" placeholder="Enter To Search" name="popcorntime" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock searchform %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'popcorntime/css/main.css' %}">
<script src="{% static 'popcorntime/js/main.js' %}"></script>
{% load popcorntime_extras %}

<div class="jumbotron">
    <h1 class="diplay-4">Movie Database has been successfully updated</h1>
    <p class="text-lead">All new movies are now in the database.</p>
</div>

{% endblock content %}