{% extends "layout.html" %}

{% block searchform %}
<form class="form-inline" method="GET" action="{% url 'search' %}">
    <input class="form-control mr-sm-2" type="search" value="{{request.GET.popcorntime}}" placeholder="Enter To Search"
        name="popcorntime" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock searchform %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/popcorntime.css' %}">
<script src="{% static 'js/popcorntime.js' %}"></script>
{% load popcorntime_extras %}
<!--Update Database Button-->
<form method="GET" action="{% url 'updatedb' %}">
    <button type="submit" class="float-right btn btn-secondary">Update Database</button>
</form>

<div class="w-50 mx-auto">
    <h1 class="display-4 text-info text-center">{{page_heading}}</h1>
    <hr />
</div>

<div class="container-fluid content-row mx-auto mb-5">
    <div class="row">

        {% for movie in movies %}
        <div class="card mx-auto mb-3 bg-dark" id="card" style="">

            {% if "http" in movie.images %}
            <a class="" target="_blank" href="https://www.imdb.com/title/{{ movie.imdb_id }}/" title="{{ movie.title }}">
                <img class="card-img-top rounded" id="mov_img" src="{% img_url movie %}" alt="{{ movie.title }}">
            </a>
            {% else %}
            <a class="" target="_blank" href="https://www.imdb.com/title/{{ movie.imdb_id }}/" title="{{ movie.title }}">
                <img class="card-img-top rounded" src="{% static 'imgs/new_img_not_available.png' %}" alt="{{ movie.title }}">
            </a>
            <div class="text-dark top-overlay font-weight-bold">{{ movie.title }}</div>
            {% endif %}

            <!--Magnet Download Button-->
            <a href="{% mag_link movie %}" class="d-flex float-left bottom-overlay mag-btn" role="button"> <i class="material-icons md-1rem">get_app</i>
            </a>

        </div>
        {% endfor %}

    </div>
</div>


<div class="pagination">
    <span class="mx-auto step-links">
        {% if movies.has_previous %}
        <a href="?page=1{% if query %} &popcorntime={{query}} {% endif %}"><i class="material-icons md-1rem">first_page</i></a>
        <a href="?page={{ movies.previous_page_number }}{% if query %} &popcorntime={{query}} {% endif %}"><i class="material-icons md-1rem">navigate_before</i></a>
        {% endif %}

        <span class="current">
            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
        </span>

        {% if movies.has_next %}
        <a href="?page={{ movies.next_page_number }}{% if query %} &popcorntime={{query}} {% endif %}"><i class="material-icons md-1rem">navigate_next</i></a>
        <a href="?page={{ movies.paginator.num_pages }}{% if query %} &popcorntime={{query}} {% endif %}"><i class="material-icons md-1rem">last_page</i></a>
        {% endif %}
    </span>
</div>
{% endblock content %}