{% extends "layout.html" %}

{% block searchform %}
<form class="form-inline" method="GET" action="{% url 'search' %}">
    <input class="form-control mr-sm-2" type="search" value="{{request.GET.popcorntime}}" placeholder="Enter To Search"
        name="popcorntime" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock searchform %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/popcorntime.css' %}">
<script src="{% static 'js/popcorntime.js' %}"></script>
{% load popcorntime_extras %}

<div class="jumbotron">
    <h1 class="diplay-4">Movie Database has been successfully updated</h1>
    <p class="text-lead">All new movies are now in the database.</p>
     <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url 'popcorntime' %}" role="button">Continue to Movies</a>
    </p>
    {% if new_movies != 0 %}
        <p class="text-lead">Awesome, {{ new_movies }} new movies were added to the Database..</p>
    {% elif new_movies == 0 %}
        <p class="text-lead">Ahh Shucks, No new movies were added to the database..</p>
    {% endif %}

</div>

{% endblock content %}